/* CSS FOR EXPAND COLLAPSE (DISCLOSURE) */

.ec_expanded {
    display: block;
}

.ec_collapsed {
    display: none;
}

.ec_expand[aria-expanded="false"]::after {
    display: inline;
    content: '\025BC';
    margin-left: 5px;
}

.ec_expand[aria-expanded="true"]::after {
    display: inline;
    content: '\025B2';
    margin-left: 5px;
}

.text_container div {
    border-bottom: 3px solid #DDD;
    margin-bottom: 18px;
}

.text_container h4 {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    border-bottom: 3px solid #ddd;
    color: #C92B56;
}

button.ec_expand {
    display: inline-block;
    padding-bottom: 8px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    background-color: #ffffff;
    color: #C92B56;
    cursor: pointer
}

button.ec_collapse {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom:20px;
    margin-right: 40px;
    margin-left: auto;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}

button.ec_collapse span {
    font-weight: 300 !important;
}

    text-align: center;
    padding: 0;
}
