/* CSS FOR EXPAND COLLAPSE (DISCLOSURE) */

.ec_expanded {
    display: block;
}

.ec_collapsed {
    display: none;
}



.ec_expand1[aria-expanded="false"]::after {
    display: inline;
    content: '\0002B';
    margin-left: 5px;
}

.ec_expand1[aria-expanded="true"]::after {
    display: inline;
    content: '\02212';
    margin-left: 5px;
}

.ec_expand2[aria-expanded="false"]::after {
    display: inline;
    content: '\025BC';
    margin-left: 5px;
}

.ec_expand2[aria-expanded="true"]::after {
    display: inline;
    content: '\025B2';
    margin-left: 5px;
}

.ec_content1 {
    border-bottom: 3px solid #DDD;
    margin-bottom: 18px;
}

button.ec_expand1,
button.ec_expand2 {
    display: inline-block;
    padding-bottom: 8px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    background-color: #ffffff;
    color: #C92B56;
    cursor: pointer
}

button.ec_collapse1 {
    display: block;
    font-size: 14px;
    font-weight: 300;
    margin-bottom:20px;
    margin-right: 40px;
    margin-left: auto;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}

h4.ec_heading {
    border-bottom: 3px solid #DDD;
    text-align: center;
    padding: 0;
}
